@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is a list of products. Stored on Github</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col"> Product ID</th>
            <th scope="col"> Product Name</th>
            <th scope="col"> Product Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model.Products)
            {
                <tr>
                    <th scope="row">@product.ProductID</th>
                    <th >@product.ProductName</th>
                    <th>@product.Quantity</th>
                </tr>
            }
        </tbody>

    </table>
    
    
</div>
